body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #606c76;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
    background-color: #FFF;
}

nav {
    background-color: #008080;
    color: #FFF;
    padding: .3rem;
    margin-bottom: 2rem;
}

nav h3 {
    margin: 0;
}

header {
    margin-bottom: 1rem;
}

section {
    margin-bottom: 2rem;
}

code {
    font-size: .9em;
}

/**
 * Content
 */

.example-block {
    margin-bottom: 1rem;
}

.box {
    background-color: #FFF;
    padding: 10px;
    border: 1px solid #eee;
}

/**
 * Typography
 */

.title {
    font-weight: 300;
}

.section-header {
    font-weight: 300;
    letter-spacing: -.1rem;
}

a {
    color: #008080;
}

a:hover {
    color: #016b6b;
}

nav .title a {
    color: #FFF;
}

.super-small {
    font-size: 50%;
    font-weight: 300;
    letter-spacing: 0;
}

/**
 * Container
 */

@media (min-width: 576px) {
    .container {
        max-width: 500px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 880px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 980px;
    }
}

/**
 * Forms
 */

form {
    background-color: #f8f8f8;
    padding: 1rem;
    font-size: .85rem;
    word-spacing: .1rem;
}

.form-group {
    margin-bottom: .8rem;
    align-items: center;
}

.form-control {
    border-radius: .1rem;
}

.form-control:focus {
    border-color: #c3c3c3;
    box-shadow: 0 0 0 0.2rem #c3c3c366;
}

.custom-file-label {
    border-radius: .1rem;
}

/**
 * Buttons
 */

.toggle-button {
    padding: 0;
    font-size: 90%;
}

.btn-primary {
    padding: 0.5em 1em;
    letter-spacing: .07em;
    font-size: .85em;
    word-spacing: .3em;   
    background-color: #008080;
    border-color: #008080;
}

.btn-primary:hover {
    background-color: #016b6b;
    border-color: #016b6b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #016b6b;
    border-color: #016b6b;    
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}

.btn-link {
    color: #008080;
}

.btn-link:hover {
    color: #04a0a0;
    text-decoration: none;
}

/**
 * Sidebar
 */

.list-group {
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item {
    background-color: #f8f8f8;
    border: none;
}

a.list-lead {
    font-weight: bold;
    padding-bottom: 0;
}

.list-group-item:first-child {
    border-top-left-radius: .1rem;
    border-top-right-radius: .1rem;
}

.list-group-item:last-child {
    border-bottom-left-radius: .1rem;
    border-bottom-right-radius: .1rem;
}

.sub-menu .list-group-item {
    border: none;
    padding: .75rem .5rem;
}

.sub-menu.list-group {
    border: none;
}


/**
 * hljs
 */

code.hljs {
    letter-spacing: .07em;
    font-size: .85em;
    padding: .6rem 1.2rem;
    word-spacing: .3em;
    border-left: 2px solid #008080;
}

code.clean {
    padding: .3rem .6rem;
    border: none;
}

code.super-clean {
    letter-spacing: .07em;
    font-size: .85em;
    padding: 0;
    border: none;
    background-color: #f8f8f8;
}


/**
 * MISC
 */

.p-display-form {
    border-bottom: 1px solid #008080;
}

.p-display-form .fas {
    font-size: .6rem;
    color: #008080;
}